/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/proteogenomicsdb -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions

  skip_fastqc   = true
  skip_trimming = true

  skip_rnaseqdb = true
  skip_dnaseq   = true
  skip_vcf      = true

  skip_ensembldb   = true
  skip_proteome    = true
  skip_ncrna       = true
  skip_pseudogenes = true
  skip_altorfs     = true

  skip_cosmicdb     = true
  skip_gnomaddb     = true
  skip_cbioportaldb = true
  skip_decoy        = true 

}

/*
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
*/
